.container{
  display: flex;
  margin-left: 550px;
  margin-top: 50px;
}

h3{
  font-size: 50px;
  text-align: center;
  font-family: sans-serif;
}

button{
  font-size: 20px;
  margin-left: 580px;
  font-family: sans-serif;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
}

button:hover{
  background-color: #ddd;
}

.grid{
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(yellow, maroon);
  border-radius: 5px;
}

.grid div{
  width: 20px;
  height: 20px;
}

.tetromino{
  background-color: black;
}

.mini-grid{
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(yellow, maroon);
  border-radius: 5px;
}

.mini-grid div{
  width: 20px;
  height: 20px;
}